# eclipse
/eclipse
/bin
/*.launch
/.settings
/.metadata
/.classpath
/.project

# idea
/out
/*.ipr
/*.iws
/*.iml
/.idea

# gradle
/build
/.gradle
**/build/
**/.gradle/

# vscode
/.vscode

# other
/run
/libs
/build_command.txt
/modupdater-launchwrapper/libs/

# CurseForge configuration
/curseforge.properties

# Changelog backup
/changelog.bak

# Compiled class files
*.class
